@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
}
html,
body{
    height: 100%;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;

}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 65vmin;
    height: 70vmin;
    background-color: greenyellow;
    border: 3px solid forestgreen;
    border-radius: 5px;
}
.game-details {
    color: darkgreen;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    display:flex;
    justify-content: space-between;
}
.play-board{
    height: 90%;
    width: 100%;
    background-color: lightgreen;
    display: grid;
    grid-template: repeat(30,1fr) / repeat(30, 1fr);
}
.play-board .food{
    background-color: #FA1;

}
.play-board .head{
    background-color: forestgreen;

}



/* footer */
.dje-wrap {
    min-height: 100%;
    margin-bottom: -20px; 
  }
  .dje-wrap:after {
    content: "";
    display: block;
  }
  .dje-footer, .dje-wrap:after {
    height: 20px; 
  }
  .dje-footer {
    background-color: forestgreen;
    color: #fcfcfc;
    font-size: 12px;
    text-align: center;
  }
  